$fxt-facebook: #3b5998;
$fxt-facebook-hover: #263f75;
$fxt-twitter: #00acee;
$fxt-google: #CC3333;
$fxt-google-hover: #af2121;
$fxt-instagram: #3f729b;
$fxt-linkedin: #0077B5;
$fxt-youtube: #c4302b;
$fxt-pinterest: #bd081c;
$fxt-apple: #132133;
$fxt-apple-hover: #070e16;
$fxt-link-color: #63bbff;

/*For Prealoder*/

$color-line1: #740eaf;
$color-line2: #9726d8;
$color-line3: #be70eb;